h1{
    color: red;
}

a{
    color: #FF00FF ;
    font-size: 20px;
}

a:hover{
    color: #a49090 ;
}

.abc{
    color: rgb(61, 61, 62);
    text-shadow: 2px 3px rgb(132, 130, 130);
}

.bg{
  background-color: #717372;
}

.bgimg{
    background-image: url("../images/bg3.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #475647;
    opacity: 0.6;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb#FFCC99;
  }


  .border{
    border: 2px dashed rgb(129, 132, 130);
    border-radius: 5px;
    color:rgb(145, 150, 148);

  }
  